.game-pad {
    position: relative;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: greenyellow;
}

.svg-inline--fa {
    font-size: 50px;
    color: green;
}
 
.fa-caret-up {
    position: absolute;
    margin-left: 36px;
    top: 5px;
}

.fa-caret-left {
    position: absolute;
    top: 34px;
    left: 20px;
}

.fa-caret-right {
    position: absolute;
    top: 34px;
    left: 80px;
}

.fa-caret-down {
    position: absolute;
    top: 60px;
    margin-left: 36px;
}